* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.header {
    background: #ff5722;
    color: white;
    padding: 20px 0;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

.header h1 {
    text-align: center;
}

.navbar {
    text-align: center;
    margin-top: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s, color 0.3s;
}

.navbar a:hover {
    background: rgba(255, 255, 255, 0.1);
    color: black;
}
.footer {
    background: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.social-media {
    margin: 10px 0;
}

.social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
}

.footer p {
    margin: 10px 0;
}
.sav{
    display:flex;
}